
.main {
    margin-top: 200px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 25px;
    width: 480px;
    height: 22px;
    border: 1px solid #bdc1c6;
    border-radius: 25px;
}
.flex-button {
    display: flex;
    justify-content: center;
}
.button {
    margin-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px 15px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-size: 13px;
    background-color: #d8dadd;
}
button:hover {
    border-color: #949597;
}
