@font-face {
    font-family: 'Cursed Timer';
    src: url("./font/cursed-timer.ttf");
}

body {
    background: #080001;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: Verdana;
    font-size: 30px;
    color: #EEE;
    text-align: center;
    margin: 60px 20px 20px;
}

#restart {
    font-family: Verdana;
    font-size: 20px;
    color: #EEE;
    text-align: center;
    padding: 10px 15px;
    background: #211D1C;
    border: 2px solid #EEE;
    border-radius: 10px;
}

#restart.hover {
    cursor: pointer;
}

#restart:active {
    background: #211D1C;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
    background: #211D1C;
    border: 3px solid #EEE;
    width: 600px;
    border-radius: 10px;
    margin: 50px 10px 20px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cursed Timer';
    color: #FCC01B;
    background: #080001;
    border: 2px solid #EEE;
    border-radius: 6px;
    font-size: 90px;
    width: 160px;
    height: 100px;
    margin-bottom: 25px;
    padding: 30px 20px 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.count-button {
    background: #080001;
    color: #FCC01B;
    font-family: 'Cursed Timer';
    border: 2px solid #EEE;
    border-radius: 5px;
    font-size: 18px;
    width: 45px;
    height: 45px;
}

button:hover {
    cursor: pointer;
}

button:active {
    border: 2px solid #8d8d8d;
}